.gpu--container {
    color: aliceblue;
}

.gpu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.div {
    display: flex;
    border: 2px solid #ba9a5b;
    width: 37rem;
    margin-bottom: 18px;
}

.gpu--images {
    width: 16rem;
    cursor: pointer;
}