.head {
    display: flex;
    justify-content: center;
    background-color: black;
    background-size: cover;
    gap: 24rem;
}

.head--input {
    padding: 1rem;
    color: #ADFFA2;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 14px;
}