.head {
    display: flex;
    justify-content: space-between;
}

.head--input {
    padding: 1rem;
    color: #ADFFA2;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 14px;
}