.header {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #222;
}

.nav-container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10rem;
}

.title-img {
    padding: 0;
    height: 3.6rem;
    border: none;
    border-radius: 16px;
    transition: 0.6s;
    margin-bottom: 11px;
}

.title-img:hover {
    filter: brightness(65%);
}

.nav-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.nav-container a {
    color: inherit;
    font-size: 0.9rem;
    text-decoration: none;
    height: 110%;
    display: flex;
    align-items: center;
    padding: .40rem;
}

.nav-container li {
    transition: 0.7s;
}

.nav-container li:hover {
    filter: brightness(80%);
    color: cadetblue;
}

.nav-container li.active {
    filter: brightness(110%);
    color: cadetblue;
}

.all-form {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #333;
}

.form-container {
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.search-text {
    background: transparent;
    background-color: #fffefa;
    border: none;
    border-radius: 16px;
    color: black;
    font-size: 0.9rem;
    height: 2rem;
    width: 17rem;
    outline: none;
    text-indent: 11px;
    transition: 0.8s;
}

.search-button {
    color: #fffefa;
    background-color: black;
    height: 2rem;
    width: 2rem;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    margin: 15.6rem;
}

.hun {
    background-image: url(/img/hun.jpg);
    background-size: 2rem;
    background-repeat: no-repeat;
    border: none;
    border-radius: 60%;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.eng {
    background-image: url(/img/eng.jpg);
    background-size: 2rem;
    background-repeat: no-repeat;
    border: none;
    border-radius: 60%;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.top-nav-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user--image {
    height: 26px;
}

.log--reg {
    font-size: 14px;
    gap: 2px;
}

.login--image{
    background-color: #222;
    border: none;
    cursor: pointer;
    height: 30px;
}

.basket--image {
    height: 30px;
}


