.header {
    margin: 0;
}

.nav-container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.title-img {
    padding: 0;
    margin: 0;
    height: 3rem;
}

.nav-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-container a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav-container li.active {
    border-bottom: 2px white solid;
}

.nav-container li:hover {
    border-bottom: 3px white solid;
}

.all-form {
    text-align: center;
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    border: #333;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    background-color: #ba9a5b;
    align-items: center;
    padding-right: 18%;
    padding-left: 18%;
    color: aliceblue;
    height: 2.5rem;
    font-size: 12px;
}

.top-nav ul {
    display: flex;
    gap: 3rem;
}

.top-nav a {
    text-decoration: none;
    list-style: none;
    color: aliceblue;
    cursor: pointer;
}

.top-nav a:hover {
    color: #333;
}

.form-container {
    border: 0.5px solid #fffefa;
    height: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.search-text {
    background: transparent;
    border: none;
    border-radius: 0%;
    color: white;
    outline: none;
    padding-top: 3%;
    font-size: 15px;
}

.search-button {
    color: #fffefa;
    background-color: black;
    border-radius: 0%;
    height: 1rem;
    padding-top: 3%;
    font-size: 10px;
}

