.all-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}


.auth-form-container,
.login-form,
.register-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #013285;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #ba9a5b;
    padding: 40px;
}

.label--reglog {
    text-align: left;
    padding: 0.25rem 0;
    font-size: 20px;
    color: #ba9a5b;
}

.input--reglog {
    font-size: 18px;
    margin: 0.25rem 0;
    padding: 1rem;
    border-radius: 10px;
    color: #ba9a5b;
    width: 20rem;
}

.login-button,
.register-button {
    background: transparent;
    border: 2px solid #ba9a5b;
    outline: none;
    transition: 0.5s ease-in-out;
    margin-top: 14px;
    color: #ba9a5b;
    cursor: pointer;
    border-radius: 16px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px;
    width: 20rem;
}

.login-button:hover,
.register-button:hover {
    background-color: #ba9a5b;
    color: white;
}

.link-button {
    text-transform: lowercase;
    background: none;
    background-color: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: none;
    padding: 20px 25px;
}

.link-button:hover {
    color: salmon;
}

.register-form {
    position: relative;
    height: 40rem;
    width: 100%;
    border: 3px #ba9a5b solid;
    padding: 15px;
    margin: 10px;
    border-radius: 20px 5px 20px;
}

.login-form {
    position: absolute;
    margin: 2rem;
    border-radius: 16px;
    width: 24rem;
}