.auth-form-container,
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    padding: 0.25rem 0;
    color: #ba9a5b;
}

input {
    font-size: 18px;
    margin: 0.25rem 0;
    padding: 1rem;
    border-radius: 10px;
    color: #ba9a5b;
}

button {
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    color: #ba9a5b;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.login-button,
.register-button {
    background: transparent;
    border: 2px solid #ba9a5b;
    outline: none;
    transition: 0.5s ease-in-out;
    margin-top: 14px;
}

.login-button:hover,
.register-button:hover {
    background-color: #ba9a5b;
    color: white;
}

.link-button {
    text-transform: lowercase;
    background: none;
    background-color: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.link-button:hover {
    color: salmon;
}

.register-form {
    height: 39rem;
    width: 25rem;
    border: 3px #ba9a5b solid;
    padding: 15px;
    margin: 10px;
    border-radius: 20px 5px 20px;
}

.login-form {
    height: 21rem;
    width: 25rem;
    border: 3px #ba9a5b solid;
    padding: 15px;
    margin: 10px;
    border-radius: 5px 20px 5px;
}
