.producst--main {
    background-color: white;
}

.section-products {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.section-products-second {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 1rem;
}

.product {
    border: none;
    border-radius: 15px;
}

.product-gpu:hover,
.product-cpu:hover,
.product-ram:hover,
.product-mtb:hover,
.product-psu:hover,
.product-case:hover {
    filter: brightness(50%);
    color: red;
    font-size: 6rem;
}

.product-gpu {
    background-image: url(/img/gpu.jpg);
    background-size: cover;
    border: none;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
    color: aliceblue;
    font-size: 3rem;
}

.product-cpu {
    background-image: url(/img/cpu1.jpg);
    background-size: cover;
    border: none;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
    color: aliceblue;
    font-size: 3rem;
}

.product-ram {
    background-image: url(/img/ram.jpg);
    background-size: cover;
    border: none;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
    color: aliceblue;
    font-size: 3rem;
}

.product-mtb {
    background-image: url(/img/mth.jpg);
    background-size: cover;
    border: none;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
    color: aliceblue;
    font-size: 3rem;
}

.product-psu {
    background-image: url(/img/power.jpg);
    background-size: cover;
    border: none;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
    color: aliceblue;
    font-size: 3rem;
}

.product-case {
    background-image: url(/img/case.jpg);
    background-size: cover;
    border: none;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
    color: aliceblue;
    font-size: 3rem;
}