.producst--main {
    background-color: white;
}

.section-products {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.section-products-second {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 1rem;
}

.product {
    border: 2px black solid;
    border-radius: 15px;
}

.product-gpu {
    border-radius: 0%;
    background-image: url(/img/gpu.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
}

.product-gpu:hover,
.product-cpu:hover,
.product-ram:hover,
.product-mtb:hover,
.product-psu:hover,
.product-case:hover {
    filter: brightness(50%);
}

.product-cpu {
    border-radius: 0%;
    background-image: url(/img/cpu1.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
}

.product-ram {
    border-radius: 0%;
    background-image: url(/img/ram.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
}

.product-mtb {
    border-radius: 0%;
    background-image: url(/img/mth.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
}

.product-psu {
    border-radius: 0%;
    background-image: url(/img/power.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
}

.product-case {
    border-radius: 0%;
    background-image: url(/img/case.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 28rem;
    height: 19rem;
    cursor: pointer;
    transition: 0.7s;
}

.label-homepage {
    color: white;
    font-size: 50px;
    margin-right: 16rem;
}