.section-products {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.section-products-second {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2%;
}

.product {
    border: 3px wheat solid;
}

.product-gpu {
    border-radius: 0%;
    background-image: url(/img/gpu.avif);
    background-size: cover;
    width: 28rem;
    height: 19rem;
}

.product-cpu {
    border-radius: 0%;
    background-image: url(/img/cpu.avif);
    background-size: cover;
    width: 28rem;
    height: 19rem;
}

.product-ram {
    border-radius: 0%;
    background-image: url(/img/ram.avif);
    background-size: cover;
    width: 28rem;
    height: 19rem;
}

.product-mtb {
    border-radius: 0%;
    background-image: url(/img/mth.jpg);
    background-size: cover;
    width: 28rem;
    height: 19rem;
}

.product-psu {
    border-radius: 0%;
    background-image: url(/img/power.jpg);
    background-size: cover;
    width: 28rem;
    height: 19rem;
}

.product-case {
    border-radius: 0%;
    background-image: url(/img/case.avif);
    background-size: cover;
    width: 28rem;
    height: 19rem;
}

.label-homepage {
    font-size: 50px;
    margin-right: 16rem;
}