.footer--container {
    color: aliceblue;
    background-color: rgb(34, 33, 33);
    border-radius: 0px 0px 11px 11px;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.footer--div {
    padding: 2rem 1rem;
    text-align: left;
}

.footer--ul {
    list-style: none;
    padding-top: 11px;
}

.footer--li {
    text-align: left;
    width: 20.3rem;
    font-size: 14px;
    padding-top: 11px;
}

.footer-link {
    color: aliceblue;
    text-decoration: none;
    filter: brightness(60%);
}

.footer-link:hover {
    filter: brightness(80%);
}