.footer--container {
    color: aliceblue;
    background-color: rgb(60, 57, 57);
    border-radius: 0px 0px 11px 11px;
    display: flex;
    gap: 4rem;
}

.footer--div {
    padding: 2rem 1rem;
    text-align: left;
}

.footer--ul {
    list-style: none;
    padding-top: 11px
}

.footer--li {
    text-align: left;
    width: 14.3rem;
}

.footer-link {
    color: aliceblue;
    text-decoration: none;
    filter: brightness(60%);
}

.footer-link:hover {
    filter: brightness(80%);
}