.StyledButton {
    background-color: #5542F6;
    display: inline-flex;

    svg {
        height: 25px;
        margin-right: 5px;
    }

    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}